<div class="container-fluid">
    @for (int y = 0; y < 3; y++)
    {
        <div class="row">
            @for (int x = 0; x < 3; x++)
            {
                <div class="col border-primary border">X</div>
            }
        </div>
    }
</div>

@code {

}
